button {
  background-color: #b9b9b9;
  border: 0 none;
  border-radius: 0 4px 4px 0;
  color: #131519;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 22px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0px;
  box-shadow: 0 0 25px rgba(0, 0, 5, 1);
  display: flex;
  align-items: center;
}
button:hover,
button:active {
  background-color: #1e2129;
  color: beige;
}
.search-bar {
  display: flex;
}
.search-bar input {
  border: 3px solid #b9b9b9;
  border-radius: 14px;
  box-sizing: border-box;
  font-size: 22px;
  line-height: 32px;
  padding: 10px 25px;
  transition: all 0.1s ease 0s;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 5, 1);
}

.container-search-bar {
  position: relative;
  margin: 4rem;
}
.find-movie {
  font-size: 5rem;
  width: 100%;
  text-align: center;
  color: rgb(196, 196, 196);
  margin-bottom: 50px;
  margin-top: 60px;
}
